---
import { Icon } from 'astro-icon/components'
import { cn, tw } from '~/libs/utils'

const { class: classProp, ...props } = Astro.props
---

<section
	{...props}
	class={cn(
		tw`relative border-x border-b border-charcoal-black px-4`,
		classProp
	)}
>
	<slot />

	<Icon
		name='plus'
		class='absolute bottom-0 left-0 z-10 size-3 -translate-x-1/2 translate-y-1/2'
	/>
	<Icon
		name='plus'
		class='absolute bottom-0 right-0 z-10 size-3 translate-x-1/2 translate-y-1/2'
	/>
</section>
