---
import { Icon } from 'astro-icon/components'
import Typography from '~/components/primitive/typography.astro'
---

<div class='space-y-16 pt-20 max-lg:hidden'>
	<Typography
		component='h5'
		class='text-center font-grotesk text-xs font-light uppercase tracking-[0.15em] text-white/50'
	>
		Helping people create beautiful content at
	</Typography>
	<ul class='flex'>
		{
			Array.from({ length: 5 }).map(() => (
				<li class='flex flex-1 items-center justify-center'>
					<Icon name='company-logo' width={134} height={28} />
				</li>
			))
		}
	</ul>
</div>
