---
import { Image } from 'astro:assets'
import curve from '~/assets/imgs/curve.png'
import heroBackground from '~/assets/imgs/hero-background.jpg'
import robot from '~/assets/imgs/robot.jpg'
import Button from './button.astro'
import HeroBackdrop from './hero-backdrop.astro'
import Section from './section.astro'
---

<Section class='py-24'>
	<div class='mx-auto max-w-5xl pb-28 text-center'>
		<h1
			class='pb-6 text-[2.5rem] font-semibold leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem]'
		>
			Explore the Possibilities of&nbsp;AI&nbsp;Chatting with
			<span class='relative'>
				Brainwave
				<Image
					src={curve}
					loading='eager'
					alt='Curve'
					class='absolute -bottom-2 left-0 w-full'
				/>
			</span>
		</h1>
		<p
			class='mx-auto max-w-3xl pb-8 text-sm leading-7 text-lilac-gray md:text-base lg:text-[1.25rem] lg:leading-8'
		>
			Unleash the power of AI within Brainwave. Upgrade your productivity
			with Brainwave, the open AI chat app.
		</p>
		<Button intent='contained-white'> Get started </Button>
	</div>

	<div class='relative mx-auto max-w-sm md:max-w-5xl'>
		<div
			class='absolute -top-[54%] left-1/2 -z-20 w-[234%] -translate-x-1/2 md:-top-[46%] md:w-[138%] lg:-top-[104%]'
		>
			<Image
				src={heroBackground}
				alt='hero'
				loading='eager'
				class='w-full'
			/>
		</div>

		<div class='rounded-2xl bg-conic-gradient p-0.5'>
			<div class='h-6 rounded-t-2xl bg-slate-blue'></div>

			<div
				class='aspect-[33/40] overflow-hidden rounded-b-2xl md:aspect-[688/490] lg:aspect-[1024/490]'
			>
				<Image
					src={robot}
					alt='Robot'
					loading='eager'
					class='w-full translate-y-[8%] max-md:scale-[1.7] md:-translate-y-[10%] lg:-translate-y-[23%]'
				/>
			</div>

			<div
				class='mx-3 h-6 rounded-b-3xl bg-dark-navy shadow-xl lg:mx-10 lg:h-6'
			>
			</div>
			<div
				class='mx-8 h-6 rounded-b-3xl bg-dark-navy/70 shadow-xl lg:mx-20 lg:h-6'
			>
			</div>
		</div>
	</div>

	<HeroBackdrop />
</Section>
