---
import { Image } from 'astro:assets'
import background from '~/assets/imgs/nav-background.jpg'
---

<div class='absolute inset-0 lg:hidden'>
	<div class='absolute inset-0 opacity-[.03]'>
		<Image
			class='h-full w-full object-cover'
			src={background}
			width={688}
			height={953}
			alt='Background'
		/>
	</div>

	<div
		class='absolute left-1/2 top-1/2 aspect-square w-[51.375rem] -translate-x-1/2 -translate-y-1/2 rounded-full border border-lilac-gray/10'
	>
		<div
			class='absolute left-1/2 top-1/2 aspect-square w-[36.125rem] -translate-x-1/2 -translate-y-1/2 rounded-full border border-lilac-gray/10'
		>
		</div>
		<div
			class='absolute left-1/2 top-1/2 aspect-square w-[23.125rem] -translate-x-1/2 -translate-y-1/2 rounded-full border border-lilac-gray/10'
		>
		</div>
	</div>

	<div class='w-0.25 absolute left-5 top-0 h-full bg-deep-indigo'></div>
	<div class='w-0.25 absolute right-5 top-0 h-full bg-deep-indigo'></div>

	<div
		class='absolute left-16 top-[4.4rem] h-3 w-3 rounded-full bg-gradient-to-b from-[#DD734F] to-[#1A1A32]'
	>
	</div>
	<div
		class='absolute right-16 top-[12.6rem] h-3 w-3 rounded-full bg-gradient-to-b from-[#B9AEDF] to-[#1A1A32]'
	>
	</div>
	<div
		class='absolute left-12 top-[26.8rem] h-6 w-6 rounded-full bg-gradient-to-b from-[#88E5BE] to-[#1A1A32]'
	>
	</div>
</div>
